@import "_vars.scss";
@import "_libs.scss";
@import "_fonts.scss";
@import "_global.scss";

.signup-form {
  padding: 48px 87px 86px;
  max-width: 624px;
  background-color: #212121;
  border-radius: 51px;
  margin: 60px auto;
  text-align: center;
}

.bonus__inner {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
}

.box {
  margin-right: 23px;
}

.deposit {
  text-align: left;
  font-weight: 400;
  font-size: 25px;
  color: #CBCBCB;

  p {
    font-weight: 700;
    margin: 0;
  }

  span {
    font-weight: 700;
    font-size: 36px;
    color: #FFD55B;
    margin: 0;
    filter: drop-shadow(0px 0px 3px #EA8003);
  }
}

.social-text {
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 12px;
}

.social-icon a + a {
  margin-left: 25px;
}

.social-icon {
  margin-bottom: 37px;
}

.input-box {
  max-width: 450px;
  width: 100%;
  border-radius: 14px;
  background-color: #484848;
  color: #fff;
  border: none;
  outline: none;
  padding: 13px 24px 12px;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

}

.input-box::placeholder {
  color: #fff;
}

.check__box {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  padding-left: 20px;
  top: 0;
  left: 0;
}

.check-box {
  margin-bottom: 51px;

  label {
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    width: 100%;
    text-align: left;
    padding-left: 35px;

    &:first-child {
      margin-bottom: 6px;
    }
  }
}

.check-style {
  position: absolute;
  width: 22px;
  height: 22px;
  border: 2px solid #FFC42D;
  border-radius: 6px;
  margin-left: -35px;
}

.check__box:checked+.check-style {
  background-image: url("../img/arrowdown.png");
  background-color: #FFC42D;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.button {
  display: inline-block;
  text-decoration: none;
  outline: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #826313 0%, #FFE589 101.87%);
  border-radius: 15px;
  padding: 18px 68px;
}

.log-in {
  &__text {
    color: #989898;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  &__link {
    color: #FFCA40;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-left: 19px;
  }
}





















@import "_media.scss";